<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments::head"></head>
<body>
<header th:replace="/fragments/fragments::navbar"></header>
<main class="p-5 align-content-center bg-blur main">

    <div class="container-fluid bg-white" th:action="@{/recipes/details/manage/{recipeId}(recipeId=${recipe.id})}" th:method="patch">
        <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 pb-4">
                <div class="chartjs-size-monitor"
                     style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand"
                         style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink"
                         style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                    </div>
                </div>
                <div class="d-inline-block pt-3">
                    <h1 id="recipe"  th:recipeId="${recipe.id}" th:text="${recipe.title}" class="text-dark me-3 fw-bold"></h1>
                    <h2 class="text-dark me-3"></h2>
                    <br>
                </div>
                <div class="table-responsive text-light">
                    <table class="table-bordered table table-striped table-sm">
                        <thead>
                        <tr>
                            <th >ID</th>
                            <th>Cooking Time</th>
                            <th >Products</th>
                            <th >Description</th>
                            <th >Difficulty</th>
                            <th >Shared</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="table">
                            <td th:text="${recipe.id}"></td>
<!--                            <td th:text="${recipe.title}"></td>-->
                            <td th:text="${recipe.cookingTime}"></td>
                            <td th:text="${recipe.products}"></td>
                            <td th:text="${recipe.description}"></td>
                            <td th:text="${recipe.stars}"></td>
                            <td th:text="${recipe.shared}"></td>
                            <td><a class="btn btn-danger w-100" type="button" th:href="@{/recipes/edit/{recipeId}(recipeId=${recipe.id})}">EDIT</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a type="button" id="removeBtn" class="btn btn-success" th:href="@{/recipes/delete/{recipeId}(recipeId=${recipe.id})}"  >Delete Recipe</a>
                </div>
            </main>
        </div>
    </div>
</main>
<footer  class="footer bg-blur fixed-bottom" >
    <div class="container-fluid text-center">
        <div class="footer bg-blur text-black-50">
            &copy;Diana's Food Blog 2023. All rights reserved.
        </div>
    </div>
</footer>
</body>

<script src="/js/manage-recipes-table.js"></script>
<script>
    document.querySelectorAll("#removeBtn").forEach(b => b.addEventListener('click', deleteRecipe));
    const id = document.getElementById('recipe').getAttribute('recipeId');
    function deleteRecipe(e) {
        fetch('http://localhost:8080/recipes/delete/' + id,
            {
                method: 'delete',

            }).then(res => {
            console.log(res);
            e.target.parentElement.parentElement.remove();
        });
    }

</script>
</html>
