<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="/fragments/fragments::head"></head>
<body>
<header th:replace="/fragments/fragments::navbar"></header>
<main class="main">
    <div id="containerDetails" th:action="@{/recipes/details/{id}(id=${id})}" th:method="post" th:object="${recipeDetailsViewModel}">
        <div class="row d-inline-flex float-start mb-3">
            <div id="carouselExampleControls" class="carousel slide col-2" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <img th:src="@{${recipe.image}}"
                             class="d-block w-100" alt="...">
                    </div>

                    <div th:each="p:${recipe.pictures}" class="carousel-item bg-transparent">
                        <img th:src="@{${p}}"
                             class="d-block w-100" alt="...">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div id="description" class="col" style="max-width: 60ch; word-wrap: break-word;">
                <p class="h1 fst-italic fw-bold" th:text="|${recipe.title}    ${recipe.stars}|">Title</p>
                <br>

                <dl class="d-block">
                    <br>
                    <dt class="col-sm-12 fw-bolder" th:text="|Cooking time: ${recipe.cookingTime} min.|"></dt>
                    <dd class="col-xxl-12" >------</dd>
                    <br>

                    </dd>
                    <dt class="col-sm-12 fw-bolder">Products:</dt>
                    <dd class="col-sm-12" >------</dd>
                    <dd class="col-sm-5 form-control narrower-textarea" th:text="${recipe.products}">This can be useful when space is tight. Adds an
                        ellipsis at the end.
                    </dd>
                    <br>
                    <dt class="col-sm-12 fw-bolder">Description:</dt>
                    <dd class="col-sm-12" >------</dd>

                    <dd class="col-sm-12" th:text="${recipe.description}">This can be useful when space is tight. Adds an
                        ellipsis at the end.
                    </dd>
                </dl>

            </div>
    </div>
    <div class="row " >
        <div  class="col justify-content-center">
            <a th:if="${isAdmin}" class="btn btn-success fw-bold" th:href="@{/recipes/details/manage/{id}(id=${id})}" role="button">Manage</a>
            <a th:if="${isOwner}"  class="btn btn-warning fw-bold"  th:href="@{/recipes/edit/{id}(id=${id})}" role="button">Edit</a>
        </div>
    </div>
    </div>

    </div>
    <div class="row d-inline-flex justify-content-xl-evenly " style="padding-left: 5rem">

        <div class="row justify-content-center">

<!--            <div class="headings d-flex justify-content-between align-items-center mb-3">-->
<!--                <h5 id="commentCount">Comments(6)</h5>-->
<!--            </div>-->
            <div class="input-group mb-3">
                <input id="commentInput" type="text" class="form-control" placeholder="Leave a comment here..."
                       aria-label="Leave a comment here..."
                       aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary btn-danger" type="button" th:value="${id}"
                        id="button-addon2">Post
                </button>
            </div>
<!--            <button id="toggleCommentsBtn" class="btn btn-primary" type="button">Toggle Comments</button>-->
<!--            <div class="headings d-flex justify-content-between align-items-center mb-3">-->
            <a th:href="@{/recipes/details/{id}(id=${id})}" id="toggleCommentsLink" class="text-primary" onclick="toggleCommentsVisibility(event); return false;"><span id="commentCount"></span></a>
<!--            </div>-->
            <!-- Comment section, initially hidden -->
            <div id="commentSection" style="display: none;"></div>
        </div>
    </div>
    </div>

</main>

<script src="/js/comment-logic.js"></script>
<footer th:replace="/fragments/fragments::footer"></footer>
<style>
    .narrower-textarea {
        width: 260px;
        white-space: pre-line;
    }
</style>
</body>
</html>