<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments::head"></head>
<body>
<header th:replace="/fragments/fragments::navbar"></header>
<main class="main p-5 align-content-center bg-blur">
    <h1 class="text-light border-bottom mb-5">Your Recipes</h1>
    <div class="container">
        <table class="table table-light border-3 table-striped">
            <thead>
            <tr class="table-dark">
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Products</th>
                <th scope="col">Cooking Time</th>
                <th scope="col">Shared</th>
                <th scope="col">Cancel</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${recipes}">
                <th scope="row"></th>
                <td><a class="text-dark" th:href="@{/recipes/delete/{id}(id=${recipes.id})}"
                       th:text="${recipes.title}"></a></td>
<!--                <td th:text="${#temporals.format(r.arriveDate,'dd-MM-yyyy')}"></td>-->
<!--                <td th:text="${#temporals.format(r.leaveDate,'dd-MM-yyyy')}"></td>-->
<!--                <td th:text="|${r.room.type}(${r.room.name})x${r.countOfRooms}|"></td>-->
                <td>
                    <button th:id="${id}" class="btn-danger rounded-2">Cancel</button>
                </td>
            </tr>
            <div class="button-holder d-flex">
                <input th:id="${recipes.id}" th:method="delete" href="@{/}" type="submit" class="btn btn-warning btn-lg" value="Save Changes"/>
            </div>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="/fragments/fragments::footer"></footer>
<script>
    document.querySelectorAll('button').forEach(b => b.addEventListener('click', cancelFavorite));

    function cancelFavorite(e) {
        fetch('http://localhost:8080/recipes/delete/'+e.target.id,
            {
                method: 'delete',
            }).
        then(res => {
            console.log(res);
            e.target.parentElement.parentElement.remove();
        });
    }
</script>
</body>
</html>